{% extends "base.html" %}

{% block content %}
<style type="text/css">
input, textarea, select, .uneditable-input {
    min-width: 700px;
}
</style>

{{ form.help_text|safe }}

<hr />
<form method="GET">
  <table>
  {{ form.as_table }}
  </table>

  <input type="submit" value="Preview" />
</form>

{% if preview %}
<table>
<thead>
{% with rows.0 as row %}
<tr>
{% for cell in row %}
<th>{{ cell }}</th>
{% endfor %}
</tr>
{% endwith %}
</thead>
<tbody>
{% for row in rows %}
<tr>
{% for name, cell in row.items %}
<td>{{ cell }}</td>
{% endfor %}
</tr>
{% endfor %}
<tbody>
</table>

{% load helpful_tags %}
<form method="POST">
  {% csrf_token %}

  {% for key, val in form.data.items %}
  <input type="hidden" name="{{ key }}" value="{{ val }}" />
  {% endfor %}

  <input type="hidden" name="records" value="{{ rows|to_json }}" />

  <input type="submit" name="submit" value="Save This Job!" />
  <input type="submit" name="submit" value="Run Now, Synchronously" />
</form>
{% endif %}
{% endblock %}
